.card__item {
  display: flex;
  flex-direction: column;
  width: 220px;
  height: 240px;
  background-image: url(../../assets/images/card-bckgr-main.png);
  padding: 21px;
  gap: 10px;
  font-size: 14px;

  h2 {
    line-height: 18px;
    text-align: center;
  }

  p {
    line-height: 20px;
    text-align: right;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
